<header>
  <div class="header-container">
    <div class="header-left">
      <a href="/" title="Home">
        <img src="/images/logo.png" alt="Calibrated Computares Logo" class="logo">
      </a>
    </div>

    <div class="header-center">
      <a href="/about" title="Learn more about us">About</a>
      <a href="/services" title="See our services">Services</a>
      <a href="/reviews" title="Customer testimonials">Reviews</a>
      <% if (currentUser) { %>
      <a href="/portfolio" title="Our work">Portfolio</a>
      <% } %>
    </div>

    <div class="header-right">
      <% if (currentUser) { %>
      <a href="/logout" title="Logout">Logout</a>
      <% } else { %>
      <a href="/login" title="Login to your account">Login</a>
      <% } %>
    </div>
  </div>
</header>
