<!DOCTYPE html>
<html>
<head>
  <title>About - Calibrated Computares</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <section>
    <h2 class="bold">All about Calibrated Computares</h2>
    <img src="/images/profile.png" alt="Profile picture">
    <p>I was born and raised in Canada. I have always found computers fascinating but didn’t decide to become a computer coder until I played Minecraft in my late twenties. Running my own Minecraft server gave me a small taste of coding, and from there I started my journey. My journey includes schooling at BYU-I, personal studies from websites like Codecademy, and a lot of personal perseverance.</p>
  </section>

  <section>
    <h2 class="bold">Calibrated Computares' Mission Statement</h2>
    <p>I am Canadian-based and pride myself on strong work ethics. I always strive for excellence and only use AI when it is appropriate and beneficial for my clients.</p>
  </section>

  <%- include('partials/footer') %>
</body>
</html>
