<!DOCTYPE html>
<html>
  <head>
    <title>Home - Calibrated Computares</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <% if (req.query.register === 'success') { %>
    <div class="register-success">Your registration has been successful.
      Welcome!</div>
    <% } %>

    <% if (req.query.contact === 'success') { %>
    <div class="contact-success">
      Thank you! Your message has been sent successfully.
    </div>
    <% } %>

    <section>
      <h1>Welcome to Calibrated Computares</h1>
      <img src="/images/home-pic.png" alt="Calibrated Computares">
      <h2>At Calibrated Computers, No job is too big or too small.</h2>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
