<!DOCTYPE html>
<html>
  <head>
    <title>Home - Calibrated Computares</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <% if (req.query.logout === 'success') { %>
    <div class="alert info">
      You’ve successfully logged out. Have a great day!
    </div>
    <% } %>

    <% if (req.query.contact === 'success') { %>
    <div class="alert success">
      Thank you! Your message has been sent successfully.
    </div>
    <% } %>

    <% if (req.query.register === 'success') { %>
    <div class="alert success">
      Your account has been created!
    </div>
    <% } %>

    <% if (req.query.login === 'success') { %>
    <div class="alert success">
      You’ve successfully logged in. Welcome back!
    </div>
    <% } %>

    <section>
      <h1>Welcome to Calibrated Computares</h1>
      <img src="/images/home-pic.png" alt="Calibrated Computares">
      <h2>At Calibrated Computers, No job is too big or too small.</h2>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
