<!DOCTYPE html>
<html>
<head>
  <title>Home - Calibrated Computares</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% include partials/header %>

  <section>
    <img src="/images/home-pic.png" alt="Calibrated Computares">
    <h2>At Calibrated Computers, No job is too big or too small, I can do it all!</h2>
  </section>

  <% include partials/footer %>
</body>
</html>
