<!DOCTYPE html>
<html>
  <head>
    <title>Register - Calibrated Computares</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <section>
      <h1>Register</h1>
      <% if (typeof error !== 'undefined') { %>
      <div class="register-error"><%= error %></div>
      <% } %>
      <form id="registerForm" action="/register" method="POST"
        class="register-form">
        <input name="username" id="username" type="email"
          placeholder="Your Email" required><br>

        <input name="password" id="password" type="password"
          placeholder="Password" required><br>

        <input name="confirmPassword" id="confirmPassword" type="password"
          placeholder="Confirm Password" required><br>

        <button type="submit" class="btn">Register</button>
      </form>

      <p id="errorMsg" style="color: red;"></p>

      <p>Already registered? <a href="/login">Login</a></p>
    </section>

    <%- include('partials/footer') %>
    <script src="/js/register-validation.js"></script>

  </body>
</html>
